.footer 
  background-color: $footer-grey
  padding-top: 45px
  padding-bottom: 35px
  &-box
    display: flex
    justify-content: space-around
    align-items: center
  &-block
    max-width: 185px
    &_text,
    &_email
      font-size: 14px
      color: #ffffff 
      display: block 
      line-height: 17px
      text-decoration: none
      display: inline-block
@media (max-width: 768px)
  .footer
    &-block
      max-width: 160px
      &_text,
      &_email
        font-size: 12px
    &-box
      padding-left: 40px    
@media (max-width: 576px)
  .footer
    &-box
      flex-wrap: wrap
      padding-left: 0
    &-block
      &:last-child
        width: 300px
        display: flex
        justify-content: space-between 
        
        

