.modal-leave
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #0000004D
  padding: 80px 110px
  display: none
  &_active
    display: flex
  &-box
    position: relative
    box-sizing: border-box
    margin: auto
    max-width: 980px
    height: 640px
    text-align: center
    display: flex
    flex-wrap: nowrap
  &-left
    max-width: 445px
    text-align: center
    background-color: $green
    padding: 35px 26px 0
    &_logo
      display: block
      margin: auto
    &_text
      font-size: 20px
      color: #ffffff
      margin-top: 30px
      &:nth-child(3)
        font-weight: bold
        background-color: $orange    
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4)
        display: inline-block     
      &:nth-child(5)
        text-transform: uppercase
        font-weight: bold
        margin-top: 100px
      &:nth-child(6)
        margin-top: 0
        margin-bottom: 100px  
      &:nth-child(7)
        font-weight: bold
  &-right
    position: relative
    box-sizing: border-box
    max-width: 535px
    height: 640px 
    background-color: #F0F0F1
    text-align: center
    padding: 60px 25px 
    &_title
      font-size: 24px
      color: #3A3633
      margin-bottom: 45px   
  &-form
    width: 100%
    &_input
      max-width: 220px
      width: 46%
      display: inline-block
      margin-top: 24px
      &:nth-child(1),
      &:nth-child(3)     
        margin-right: 15px
    &_text
      font-size: 14px
      color: #8F8F8F
      text-align: left
      margin-top: 12px
    &_password    
      max-width: 450px
      width: 70%
      margin-top: 15px
      width: 97%
    &_btn
      font-size: 24px
      padding: 8px 109px
      margin-top: 35px  

@media (max-width: 992px)
  .modal-leave
    padding: 80px 40px
    &-right
    &-form
      &_input
        max-width: 210px  
        padding: 13px 12px
      &_password
        padding: 13px 12px  
    &-left
      &_text
        font-size: 18px
        &:nth-child(5)
          margin-top: 137px
@media (max-width: 768px)
  .modal-leave
    &_active
      display: none          

            




          
        
